/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}


.header__links-list {
  display: flex;
  gap: 30px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-transform: lowercase;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column; 
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style:normal;
  line-height: 24px;
}


/* cover */

.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 0.40);
} 

.cover__title {
  position: relative;
  z-index: 2;
  margin-bottom: 106px;
  color: #fff;
  font-size: 100px;
  line-height: 130%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}

/* Lots */

.lots {
  margin-bottom: 155px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 60px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  padding: 0 24px;
  list-style: none;
}

.card-link {
  position: relative;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 60px;
  font-size: 20px;
  text-transform: lowercase;
}

/* About */

.about {
  margin-bottom: 180px;
  padding: 0 26px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  align-self: center;
  width: 148px;
  height: 114px;
  margin: 0 auto;
}

.about__descr {
  padding-top: 98px;
  padding-left: 25px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

/* footer */ 

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 50px 82px;
}

.footer__address {
  justify-self: start;
  max-width: 265px;
}


.footer__menu {
  align-self: start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  align-self: start;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

/* End */